[Unit]
Description=Burn arduino zephyr bootloader on first boot
After=fs-local.target
ConditionPathExists=!/home/arduino/.local/share/arduino-app-cli/bootloader_burned.flag

[Service]
Type=oneshot
RemainAfterExit=true
User=arduino
Group=arduino
ExecStart=/usr/bin/arduino-cli burn-bootloader -b arduino:zephyr:unoq -P jlink
ExecStartPost=/bin/mkdir -p /home/arduino/.local/share/arduino-app-cli
ExecStartPost=/bin/touch /home/arduino/.local/share/arduino-app-cli/bootloader_burned.flag
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
